body {
    background-color: #E2BD42;
}

.navBar {
    display: flex;
    justify-content: space-between;
    background-color: #35332F;
}

.nav-link {
    padding-right: 25px;
    font-family: 'Playfair Display', serif;
    
   
}

.navBrand {
    margin-left: 20px;
    font-family: 'Playfair Display', serif;
    color: rgb(245, 235, 235);
}

h2 {
    padding-top: 20px;
    text-align: center;
    color: #35332F;
    font-family: 'Playfair Display', serif;
}

button {
    margin-left: 45%;
    margin-right: 40%;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    background-color: rgb(245, 235, 235);
    border-radius: 10px;
}
h3 {
    font-family: 'Playfair Display', serif;
    color:rgb(245, 235, 235);
}

.modal {
    color: #35332F;
    font-family: 'Playfair Display', serif;
}

p  {
    font-family: 'Playfair Display', serif;
    padding-bottom: 100px;
    color:rgb(245, 235, 235);
 }

 .reactButton {
    font-family: 'Playfair Display', serif;
 }

 .submit-button {
    font-family: 'Playfair Display', serif;
 }

 .update-title {
    font-family: 'Playfair Display', serif;
 }

 .update-description {
    font-family: 'Playfair Display', serif;
 }

 .update-availability {
    font-family: 'Playfair Display', serif;
 }

 .footer {
    color: rgb(245, 235, 235);
 }

 .footerBar {
    background-color: #35332F;
    font-family: 'Playfair Display', serif;
 }